@font-face
  font-family: 'open-sans'
  font-weight: 400
  src: url('/static/fonts/OpenSans-Regular.ttf') format('ttf')

@font-face
  font-family: 'open-sans'
  font-weight: 700
  src: url('/static/fonts/OpenSans-Bold.ttf') format('ttf')

@font-face
  font-family: 'made-goodtime-script'
  font-weight: 400
  src: url('/static/fonts/MADEGoodTimeScriptPERSONALUSE.otf') format('otf')

$open-sans: 'Open Sans',open-sans,Avenir,ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
$made-goodtime-script: 'MADE GoodTime Script',Avenir,ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
